<div class="container-fluid">
  <div class="body">
    <!-- <div class="myInfo">
      <h4>Hi, I am</h4>
      <h1>Abhishek Anand</h1>

      <h3 class="typewrite">&nbsp;
      </h3>
    </div> -->

    <div class="row detail">
      <div class="col-lg-11 col-md-10 col-sm-12 multi-color">
        <div class="band" style="background-color: #bf1a1a;"></div>
        <div class="band" style="background-color: #17a2b8;"></div>
        <div class="band" style="background-color: #1e7e34;"></div>
        <div class="band" style="background-color: #d39e00;"></div>
        <div class="band" style="background-color: #bf1a1a;"></div>
      </div>
      <div class="col-lg-11 col-md-10 col-sm-12 detail-card">
        <div class="row image-myself">
          <div class="col-lg-3 d-flex justify-content-center">
            <div class="img">
            <img src="assets/IMG_20612.jpg">
            </div>
          </div>
          <div class="col-lg-9 myself">
            <div class="myself-title1">
              Hi, I'm <span>Abhishek Anand!</span>
            </div>
            <div class="myself-title2">
              <div class="typewrite">&nbsp;</div>
              <p>
                Project Engineer with 1.5+ years of experience assisting with and fulfilling organization needs and
                requirements. Forward-thinking Full-stack Developer with background working effectively in dynamic
                environment. Fluent in Angular and Spring-Boot programming languages.
                Proud team player focused on achieving project objectives with speed and  accuracy.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- <app-about-me></app-about-me> -->