.container-fluid {
  padding: 0;
  .body {
    background-image: url("src/assets/IMG_20612.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    background-color: rgba(21, 22, 23, 0.72);
    background-blend-mode: overlay;

    .myInfo {
      color: white;
      position: absolute;
      text-align: center;
      bottom: 5px;
      width: 100%;
      h4 {
        font-weight: 300;
      }
      h1 {
        font-size: 70px;
      }
      h3 {
        font-weight: 300;
        height: 22px;
      }
    }
  }
}

@media only screen and (max-width: 600px) {
  .myInfo > h1 {
    font-size: 46px !important;
  }
  .container-fluid .body {
    background-position-x: -100vw;
  }
}
